@charset "UTF-8";

body, textarea{
    margin: 0;
    padding: 0;
    font-family: "Monteserrat", Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    color: #333;
}

p{
    color: #70747A;
}


/* Navbar */

.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232A31;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box ;
}

.logo{
    width: 50px;
    margin-top: 15px;
}

nav{
    position: relative;
}

.navbar-items{
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    margin: 0;
    right: 0;
}

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}

.navbar-items li a{
    color: #FFF;
    text-decoration: none;
    transition: .5s;
}

.navbar-items li a:hover{
    color: #CCC;
}

.default-btn{
    padding: 15px 20px;
    background-color: #2CC76A;
    color: #FFF;
    border-radius: 5px;
}

.default-btn:hover{
    background-color: #22BB5F;
}

/* Main Banner */

.main-banner{
    background-image: url('../img/mainbanner.png');
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    position: relative;
} 

.main-banner h1, .main-banner p{
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    font-size: 32px;
}

/* Especialidades */

.specialties-container{
    padding: 5em 0;
}

.specialties-container ul{
    display: flex;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}

.specialties-container ul li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt{
    color: #2CC76A;
}

.fa-rocket{
    color: #EF3F29;
}

.fa-comments{
    color: #EF8F29;
}

.specialties-container ul li h3{
    margin-bottom: 25px;
}

.specialties-container ul li p{
    line-height: 24px;
}

/* Preços */

.pricing-container{
    padding-bottom: 5em;
    text-align: center;

}

.pricing-container h1{
    font-size: 36px;
    margin-top: 0;
}

.pricing-container p{
    font-size: 20px;
}

/* Planos */

.plans-container{
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
   width: 90%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
}

.plan{
    flex: 1 1 200px;
    max-width: 275px;
    margin-left: 20px;
    margin-right: 20px;
}

.plan ul{
    padding: 0;
}

.plan li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #E8E9EA;
    color: #333;
}

.plan .price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(00, 00, 00 , .8);
    background-color: #2CC76A;
    color: #E8E9EA;
    text-align: center;
    line-height: 120px;
    font-size: 18px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

.plan .plan-name{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    background-color: #202B34;
    padding-top: 50px;
    padding-bottom: 20px;

}

.plan .plan-btn{
    padding: 15px 20px;
    background-color: #2CC76A;
    color: #FFF;
    cursor: pointer;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    box-shadow: 1px 1px 4px rgba(00, 00, 00 , .8);
}

.plan .plan-btn:hover{
   opacity: .8;
}

.plan .recommended{
    background-color: #F45C57;
}

/* Buscar */

.searchdomain-container{
    background-color: #34454E;
    text-align: center;
    padding: 5em 0;
}

.searchdomain-container h2{
    color: #FFF;
    font-size: 42px;
    margin-top: 0;
    margin-bottom: 15px;
}

.searchdomain-container p{
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
}

.searchdomain-container input[type=text] {
  margin-bottom: 25px;
  width: 60%;
  padding: 20px;
  font-size: 20px;

}

.searchdomain-container input[type=submit]{
    background-color: #2CC76A;
    padding: 15px 30px;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;
}

.searchdomain-container input[type=submit]:hover{
    opacity: .8;
}

/* Contato */

.contact-container{
    text-align: center;
    padding-top: 5em;
    padding-bottom: 2em;
}

.contact-container h2{
    font-size: 36px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input, .contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.contact-container textarea{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 150px;
}

.contact-container input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #22BB5F;
    color: #FFF;
    box-shadow: 1px 1px 4px rgba(00, 00, 00 , .8);
    cursor: pointer;
}

.contact-container input[type=submit]:hover{
    opacity: .8;
}


/* Footer */

footer{
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    color: #202B34;
}

footer p{
    text-align: center;
    font-weight: bold;
}


/* MIDIA QUERIES */

@media screen and (max-width: 1100px){
    
    .plans-container{
        width: 95%;
    }

    .plan{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 900px){
    
    .plans-container, .specialties-container ul { 
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px){
    
    html, body{ 
        overflow-x: hidden ;
    }

    .navbar-items li{
        font-size: 12px;
        margin-left: 10px;
    }

    .plan{
        width: 100%;
        max-width: 100%;
    }

    .searchdomain-container, .contact-container{
        padding: 3em 2em;
    }

    .container .searchdomain-container input{
        width: 100%;
        box-sizing: border-box;
    }

    .contact-container input, .contact-container textarea{
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        box-sizing: border-box;
    }

}